@using EventManagement.Web.Data.Models
@model EventManagement.Web.Data.Models.EventDetails

@functions
{
    private static IEnumerable<string> DistinctSpeakers(IEnumerable<Session> sessions)
    {
        return sessions.Where(s => !s.IsGreeting).SelectMany(c => c.Speakers.Select(s => s.Name)).Distinct();
    }
}

<section id="hero" class="hero-section bg-cover window-height light-text @Model.Configuration.BgHeroCssName">
    <ul class="socials-nav">
        @foreach (var link in Model.Configuration.Links)
        {
            <li class="socials-nav-item">
                <a href="@link.Url">
                    <span class="@link.Icon"></span>
                </a>
            </li>
        }
    </ul>
    <div class="heading-block centered-block align-center">
        <div class="container">
            <h5 class="heading-alt" style="margin-bottom: 8px;">
                <span class="fa fa-calendar-o base-clr-txt"></span>@Model.Configuration.Date <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>@Model.Configuration.Location
            </h5>
            <h1 class="extra-heading">@Model.Configuration.Name</h1>
            <h6 class="thin base-font">@Html.Raw(Model.Configuration.Description)</h6>
            @if (Model.State.ShowSchedule)
            {
                <div class="btns-container">
                    <!-- <a href="https://www.meetup.com/azureheads/events/237850213/" class="btn btn-md">GET TICKETS</a> -->
                    <h6>Schedule & Stream Links @Model.State.ShowRegistration</h6>
                    <ul>
                        @*<li><a class="btn btn-md btn-lg-size" target="_blank" href="https://www.eventbrite.com/e/global-azure-bootcamp-2020-athens-tickets-90175518403">GET TICKETS</a></li>*@
                        <li>
                            <a class="btn btn-md btn-lg-size btn-green" onclick="selectSchedule('#day1_auditorium1')">Slot A</a>
                            <a class="btn btn-md btn-lg-size btn-pink" onclick="selectSchedule('#day1_auditorium2')">Slot B</a>
                            <a class="btn btn-md btn-lg-size btn-berry" onclick="selectSchedule('#day1_auditorium3')">Slot C</a>
                        </li>
                        <li>
                            @foreach (var (index, slot) in Model.Schedule.Slots.Select((session, i) => (i, session)))
                            {
                                <a class="btn btn-outline btn-lg-size btn-speaker-highlight" onclick="selectSchedule(@($"'#day1_auditorium{index+1}'"))">
                                    @foreach (var speaker in DistinctSpeakers(slot.Value))
                                    {
                                        <div class="speaker">@speaker</div>
                                    }
                                </a>
                            }
                        </li>
                    </ul>
                    @*<a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>*@
                </div>
            }

            @if (Model.State.ShowRegistration)
            {
                <div class="btns-container">
                    <ul>
                        <li>
                            <a class="btn btn-md btn-lg-size" target="_blank" href="@Model.Configuration.RegistrationUrl">Register Now!</a>
                        </li>
                        <li>
                            <a class="btn btn-md btn-lg-size btn-green" target="_blank" href="@Model.Configuration.CallForSpeakersUrl">Speakers</a>
                            <a class="btn btn-md btn-lg-size btn-pink" target="_blank" href="@Model.Configuration.CallForVolunteersUrl">Volunteers</a>
                        </li>
                        @* <li> *@
                        @*     <a class="btn btn-md btn-lg-size btn-berry" target="_blank" href="~/files/AzureBootcamp2018_Sponsorship.pdf">Sponsorship</a> *@
                        @* </li> *@
                    </ul>
                    @*<a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>*@
                </div>
            }

            @if (Model.State.ShowSessionLinks)
            {
                <div class="btns-container">
                    <h6>Session Links</h6>
                    <ul>
                        <li>
                            <a class="btn btn-md btn-lg-size btn-green" target="_blank" href="https://bit.ly/2xhsIY3">Slot A (10:00 - 14:00)</a>
                            <a class="btn btn-md btn-lg-size btn-pink" target="_blank" href="https://bit.ly/2VuRSu2">Slot B (10:00 - 14:00)</a>
                            <a class="btn btn-md btn-lg-size btn-berry" target="_blank" href="https://bit.ly/2RBDe35">Slot C (10:00 - 14:00)</a>
                        </li>
                        <li>
                            <a class="btn btn-md btn-lg-size btn-green" target="_blank" href="https://bit.ly/2Ry6Dvd">Slot A (15:00 - 18:00)</a>
                            <a class="btn btn-md btn-lg-size btn-pink" target="_blank" href="https://bit.ly/2ydAUbA">Slot B (15:00 - 18:00)</a>
                            <a class="btn btn-md btn-lg-size btn-berry" target="_blank" href="https://bit.ly/2RBDe35">Slot C (15:00 - 18:00)</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>

    <script type="text/javascript">
        function selectSchedule(tabId) {
            $('#day1_auditorium1, #day1_auditorium2, #day1_auditorium3').toggleClass('active', false);
            $('#day1 .nav-schedule li').toggleClass('active', false);
            $(tabId).toggleClass('active', true);

            var index = parseInt(tabId[tabId.length - 1]) - 1;
            $(`#day1 .nav-schedule li:eq(${index})`).toggleClass('active', true);
            window.location = `https://${window.location.hostname}/#schedule`;
        }
    </script>
</section>