@model IList<Session>

<div id="@($"{ViewData["section"]}")" class="tab-pane fade active in">
    <div class="panel-group" id="day1_auditorium1_timeline">
        @foreach (var (index, session) in Model.Select((session, i) => (i, session)))
        {
            <div class="panel schedule-item">
                <div class="lecture-icon-wrapper">
                    @if (session.Icon != null)
                    {
                        <span class="@session.Icon"></span>
                    }
                    else
                    {
                        var mainSpeaker = session.Speakers.FirstOrDefault() ?? new Speaker { Name = "", ImageUrl = "" };
                        <img src="@mainSpeaker.ImageUrl" alt="@mainSpeaker.Name" class="img-responsive"/>
                    }
                </div>
                @if (session.VideoUrl != null)
                {
                    <a class="btn btn-stream btn-green" href="@session.VideoUrl" target="_blank">Watch Video</a>
                }
                <a data-toggle="collapse" data-parent="@($"#{ViewData["section"]}_timeline")" href="@($"#{ViewData["section"]}_time-{index}")" class="schedule-item-toggle">
                    <strong class="time highlight">
                        <span class="icon icon-office-24"></span>@session.Time
                    </strong>
                    <h6 class="title">
                        @session.Title<i class="icon icon-arrows-06"></i>
                    </h6>

                </a>
                <div id="@($"{ViewData["section"]}_time-{index}")" class="panel-collapse collapse schedule-item-body">
                    <article>
                        @if (session.Description != null)
                        {
                            <p class="description">@session.Description</p>
                        }
                        <strong class="highlight speaker-name">@string.Join(',', session.Speakers.Select(c => c.Name))</strong>
                    </article>
                </div>
            </div>
        }
    </div>
</div>